.full-leaderboard{
    background-color: #363535;
    display: flex;
    flex-direction: column;

    height: 100%;       
    max-height: calc(85vh - 30px);   

    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

    max-width: 600px;
    width: 100%;
}

.full-leaderboard h1{
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff702cc;
    font-weight: 200;
    align-items: center;
    justify-content: center;
}

.full-leaderboard-rank{
  width:40px;
  height:40px;
  min-width:40px;

  background:black;
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  color:#fff702cc;
  font-size:24px;
}

.full-leaderboard-votes{
  margin-left:auto;
  text-align:right;

  color:white;
  font-weight:200;
  font-size:18px;
  opacity:0.8;

  min-width: 70px;
  flex-shrink: 0;
  white-space: nowrap;
}

.full-leaderboard-row{
  display:flex;
  align-items:center;
  gap:16px;
  width:100%;
  margin-bottom:18px;
}

.leaderboard-list{
  padding-top: 10px;
    overflow-y: auto;
    max-height: calc(80vh - 40px);
    padding-right: 15px;
}

.leaderboard-list::-webkit-scrollbar {
  width: 8px;
}

.leaderboard-list::-webkit-scrollbar-track {
  background: transparent;
}

.leaderboard-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.leaderboard-list::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.leaderboard-list {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.spotify-preview img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}

.spotify-preview-info {
  font-size: 14px;
  font-weight: 500;
}

.spotify-preview {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}