.song-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 250px;
}


.leaderboard{
 background-color: #363535;
 padding: 10px;
 border-radius: 15px;
}

.leaderboard,
.song-panel {
  height: 920px;  
}


.song-panel{
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #363535;
    padding: 20px;
    border-radius: 15px;
}

.song-panel h1{
    font-weight: 200;
}