.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  pointer-events: none;
  margin: 0;   /* remove this line if you have it */
}

