.header {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff702cc; 
    padding: 15px 0;
    line-height: 1.1;
    margin-bottom: 40px;
    background-color: #363535;
}

.header h1 {
    margin: 0;
    font-weight: 700;
}

.header h3 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
}
