.Home-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.Content-box{
  max-width: 700px; 
  width: 100%;      
  margin: 0 auto;   
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.Description-title{
    font-size: 40px;
    font-weight: bold;
}

.play-button{
  align-items: center;
  background-color: white;
  margin-left: 40px;
  border : none;
  
}

.play-button:hover{
  cursor: pointer;
  color: #1DB954;
}
