.promoted-box{
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 500px;
    min-height: 200px;
    background-color: #363535;
    align-items: center;
    margin: 0 auto;
    margin-top: auto;
}

.promoted-header{
    background-color: #1eff00cc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}

.promoted-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}