.new-room-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    min-width:fit-content;
    max-width: 20%;
    margin: auto;
    margin-top: 300px;

    background-color: #fffee6cc;
    border-radius: 15px;
}

.new-room-info h1{
    font-weight: 200;
}

.new-room-info input{
    border-radius: 10px;
    border-color: transparent;
    padding: 5px;
    width: 200px;
}


.new-room-info button{
    margin: 20px auto 0; /*NOTE:    margin: top left/right bottom    (shorthand margin syntax)*/
    padding: 5px;
    border-radius: 8px;
    border-color: transparent;
    display: block;
}

.new-room-info button:hover{
    background-color: #acacac;
}