.button-group{
    display: flex;
    flex-direction: column;
    gap: 25px;
}



/*----------------------create btn---------------------*/

.create-button{
    background-color: blueviolet;
    border: 2px;
    border-radius: 5px;
    padding: 15px 32px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

.create-button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.create-button span:after{
    content:'\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;

}

.create-button:hover span{
    padding-right: 25px;
}

.create-button:hover span:after{
    opacity: 1;
    right: 0;
}

.create-button:hover{
    background-color: green;
}


/*----------------------join btn---------------------*/

.join-button{
    background-color: coral;
    border: 2px;
    border-radius: 5px;
    padding: 15px 32px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}

.join-button:hover{
    background-color: green;
}

.join-button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.join-button span:after{
    content:'\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;

}

.join-button:hover span{
    padding-right: 25px;
}

.join-button:hover span:after{
    opacity: 1;
    right: 0;
}