.submission-container{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    width: 500px;
    min-height: 200px;
    background-color: #363535;
    align-items: center;
    margin: 0 auto;
}

.submission-header{
    background-color: #fff702cc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.submission-song-card {
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

.submission-null{
    font-size: larger;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.submission-null button{
    background: transparent;
    border: none;
    color: #fff702cc;
}

.submission-null button:hover{
    color: #8a8500cc;
}