body {
  font-family: 'BBH Bogle', sans-serif;
  background-color: #232222;  
  margin: 0; 
  padding: 0;
}



.Boxes-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 500px;           
  max-width: 700px;    
  margin: 10px auto;      
  padding: 0 20px;     
  z-index: 1;
}

