body {
  font-family: 'BBH Bogle', sans-serif;
  background-color: #232222;  
  margin: 0; 
  padding: 0;
}

.AppRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.Boxes-wrapper {
  flex: 1 0 auto; /* allows this to grow and take available space */
  max-width: 700px;
  margin: 10px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}



