.Home-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.Description-box{
    background-color: #6402c6;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.Description-title{
    font-size: 40px;
    font-weight: bold;
}